<mat-card-header class="card-header modal-header" *ngIf="showHeader">
    <mat-card-title class="float-left card-header-text mt-2">
        {{props('title')}}
    </mat-card-title>
</mat-card-header>    


        
<div class="container-fluid">
    <div class="row">
        <ng-content>

        </ng-content>  
        <div>
            <ng-content select=".before-buttons"></ng-content>
            <button mat-raised-button color="primary" class="ml-2" *ngIf="!searchOnFilterChange" (click)="search()">Pesquisar</button>
            <ng-content select=".between-buttons"></ng-content>
            <button mat-raised-button class="btn-secondary ml-2"  *ngIf="displayClear" (click)="clear()">Limpar</button>
            <ng-content select=".after-buttons"></ng-content>
        </div>
        <ng-content select=".after-buttons-outter"></ng-content>
    </div>
</div>

 

<ng-content select=".beteewn-filter-and-items"></ng-content>
    
    

<mat-card *ngIf="!dataSource.data || dataSource.data.length ==0">
    Não foram encontrados resultados para a pesquisa.
</mat-card>

<div class="search-results" *ngIf="!!dataSource.data && dataSource.data.length > 0" >
<table mat-table  class="search-results mat-elevation-z0" [dataSource]="dataSource" >

    <ng-content select="[addCols]"></ng-content>

    <ng-container [matColumnDef]="'selection'" *ngIf="enableSelection">
        <th mat-header-cell *matHeaderCellDef class="generic-header"> 
            
            <mat-checkbox 
                (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        
        </th>
        <td mat-cell *matCellDef="let element">
            <mat-checkbox *ngIf="checkSelectionCondition(element)" 
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(element) : null"
                [checked]="selection.isSelected(element)">
            </mat-checkbox>
        </td>
    </ng-container>

    <ng-container  *ngFor="let col of getAvailableCols()"  [matColumnDef]="col.prop">
        <th mat-header-cell *matHeaderCellDef class="generic-header"> 
            <ng-container *ngIf="!!col.sort">
                <a (click)="sort(col.prop)" class="sort-header" style="cursor: pointer">
                    {{renderColTitle(col)}} 
                </a>
            </ng-container>
            <ng-container *ngIf="!col.sort">
                    {{renderColTitle(col)}} 
            </ng-container>
            
        </th>
        <td mat-cell *matCellDef="let element" [ngClass]="col.classes"> {{renderColValue(col, element, i)}} </td>
    </ng-container>

    <ng-container  *ngFor="let act of actions"  [matColumnDef]="act.action">
        <th mat-header-cell *matHeaderCellDef class="generic-header"> {{renderColTitle(act,'action')}} </th>
        <td mat-cell *matCellDef="let line; let i = index;"> 
            <button mat-icon-button *ngIf="!act.subActions && (!act.condition  || act.condition(line))" (click)="execute(act, line, i)" title="{{renderColValue(act, line, i, 'action')}}" >
                <mat-icon  *ngIf="hasIcon(act)">{{renderIconName(act)}}</mat-icon>
                    
            </button>
            
       
            <button mat-icon-button [matMenuTriggerFor]="contextMenu" [matMenuTriggerData]="{item: line, action: act}" *ngIf="!!act.subActions && act.subActions.length > 0">
                <mat-icon>more_horiz</mat-icon>
            </button>
        </td>
    </ng-container>
            
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="element-row greyRow"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
</table>

<mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-item="item" let-action="action">
        <button mat-menu-item *ngFor="let subAct of getSubActions(action, item)" (click)="execute(subAct, item, i)">
            <mat-icon *ngIf="hasIcon(subAct)">{{renderIconName(subAct)}}</mat-icon>
            {{renderColValue(subAct, item, i, 'action')}}
        </button>
    </ng-template>
</mat-menu>

<mat-paginator 
    (page)="onPageEvent($event)"
    [pageSize]="pageable.size"
    [length]="page?.totalElements" >
</mat-paginator>
</div>
