<div>
  <app-full-calendar (onDayClick)="dadosDia($event)" (onEventClick)="dadosEvento($event)" [eventos]="getCalendario()"
    *ngIf="showCalendario"></app-full-calendar>
  <form [formGroup]="formDataMarcacao" class="row mt-4" (ngSubmit)="confirmarAgendamento()">
    <div class="col-md-4 col-xs-4">
      <mat-form-field appearance="outline">
        <mat-label>{{'PORTAL.CALENDARIO.LABELS.DATA' | translate}}</mat-label>
        <input matInput type="text" formControlName="dataEvento" readonly />
      </mat-form-field>
    </div>

    <div class="col-md-4 col-xs-4">
      <mat-form-field appearance="outline">
        <mat-label>{{'PORTAL.CALENDARIO.LABELS.HORARIO' | translate}}</mat-label>
        <input matInput type="text" formControlName="horarioPreferencia" (keyup)="changeHora($event)"
          (blur)="changeHora($event)" mask="00:00" />
      </mat-form-field>
    </div>
    <div class="col-md-2 col-xs-4  pt-1">
      <button mat-raised-button color="primary" type="submit">
        {{'PORTAL.BUTTONS.BTN_CONFIRM' | translate}}
      </button>
    </div>
    <div class="pl-2">
      <small class="font-weight-bold">* {{'PORTAL.CALENDARIO.MESSAGES.INFO_METODO_TRABALHO' | translate}}</small>
    </div>
  </form>
</div>