
.column{
    margin: 10px;
}

.mat-form-field-wrapper{
    margin-bottom: 0!important;
    padding-bottom: 0!important
}

.close{
    width: 20px!important;
    height: 20px!important;
    padding: 0!important;
}