<app-filtro-indicadores [clearCharts]="limparCharts" [functionSearch]="functionSearch" [filtroPesquisa]="formFiltro">
</app-filtro-indicadores>
<div id="div-indicadores" class="div-indicadores" #graficos>
  <div *ngIf="!showDashboard && notFoundResults">
    <label style="font-size: 12px;"
      class="text-center w-100 pt-2">{{'PORTAL.MENSAGENS.MSG_REGISTRO_NAO_ENCONTRADO' | translate}}</label>
  </div>
  <app-totalizadores *ngIf="showDashboard" [title]="'PORTAL.INDICADORES.TITLE'" [totalizadores]="totalizadores">
  </app-totalizadores>
  <app-card-chart *ngIf="showDashboard" [charts]="charts" [functionFiltro]="'filtroIndicadorFrota'"></app-card-chart>
</div>