.modal-lg {
  max-width: 1300px;
}

.logo {
  width: 110px;
}

.modal-header {
  background-color: #005b9e;
  color: #fff;
}

.btn-light {
  color: #212529;
  background-color: #efefef;
  border-color: #efefef;
}

.modal-message {
  background-color: white !important;
  color: black !important;
}

.close-button {
  width: 18px;
}