<app-modal-generic>
  <div class="p-5  modal-scroll">
    <h2>PROCEDIMENTO PARA RECURSO DE INFRAÇÕES DE TRÂNSITO – UNIDAS S/A</h2>

    <h4 class="margin-top">COMO RECORRER :
    </h4>



    <p class="margin-top">Caso o locatário não concorde com a infração de trânsito deverá verificar na notificação

      ou no site do órgão emissor qual o procedimento e documentos necessários.

      A maioria dos órgãos solicita que seja elaborada uma carta de defesa, contendo os dados

      de identificação do veículo e dados da autuação solicitando o cancelamento da multa.

      Este requerimento deve ser entregue juntamente com uma cópia dos documentos:</p>



    <p class="margin-top">• Notificação da Autuação - preenchida caso o condutor queira se indicar;</p>

    <p>• CNH (Carteira Nacional de Habilitação) ou Permissão para Dirigir.</p>

    <p>• Demais documentos que comprovem a tese.</p>



    <p class="margin-top">Enviar via correios com AR para:</p>



    <p class="margin-top">Departamento de Multas - Unidas</p>

    <p>Alameda Santos, 438</p>

    <p>Cerqueira César - São Paulo - SP</p>

    <p>CEP 01418-000</p>



    <p class="margin-top">IMPORTANTE: O envio do procedimento de recurso não isenta o locatário do pagamento

      da multa, mas lhe proporciona o direito ao reembolso, caso o recurso seja julgado

      procedente.</p>

    <p>O acompanhamento de recurso junto ao órgão será de responsabilidade do locatário.</p>

    <p>Ressaltamos que a identificação e o recurso são <span>processos</span> julgados por setores diferentes dentro do
      órgão de
      trânsito
      e solicitamos o envio da indicação separadamente do recurso.</p>



    <p class="margin-top">Atenciosamente, UNIDAS S/A Departamento de Multas</p>

    <p>No caso de dúvidas entre em contato sac@unidas.com.br ou pelo nosso contato ao SAC</p>

    <p>0800 771 5158.</p>
  </div>
</app-modal-generic>