.margin-top {
    margin-top: 30px !important;
}

span {
    color: red;
}

.modal {
    max-width: 450px !important;
    height: fit-content !important;
}

.modal-scroll {
    overflow-y: auto;
    max-height: calc(80vh)!important;
  }