.green-link {
  color: #1CA81C;
  font-size: 15px;
}

.small-blue-text {
  color: #005B9E;
}

.icon-cnh {
  background-color: #fff;
  border-radius: 4px;
  padding: 3px;
  margin-left: -35px;
  height: 30px;
  width: 35px;
}

.icon-delete {
  cursor: pointer;
  width: 30px;
  position: relative;
  top: -95px;
  margin-left: 140px;
}

.icon-plus-position {
  cursor: pointer;
  width: 30px;
  position: relative;
  top: -100px;
  margin-left: 120px;
}

.box-img {
  border-radius: 5px;
  height: 100px;
  width: 175px;
}

.border-green {
  border-right: 7px #009E00 solid;
}

.background-beige {
  background-color: #F5F5F0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.subtitle-bold {
  color: #095b9d;
  font-weight: bold;
}
