<div class="container-fluid p-0">
  <div class="pb-4 button-align">
    <div class="float-right">
      <mat-icon class="show-filter pb-2 pt-2" [ngClass]="{'mat-elevation-z4': !showFilter}" (click)="expandir()"
        svgIcon="pfu-filtro"></mat-icon>
    </div>
  </div>
  <div class="form-size transform pl-3 pb-3">
    <form [formGroup]="formFinanceiro" class="row" [hidden]="!showFilter">

      <app-filtro-agrupadores class="col-12" [form]="formFinanceiro"></app-filtro-agrupadores>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'PORTAL.INDICADORES_FINANCEIRO.LABEL.PERIODO' | translate}}</mat-label>
          <input matInput formControlName="periodo" autocomplete="off" readonly required />
          <span matSuffix mat-icon-button>
            <mat-icon class="material-icons pointer" (click)="abrirFiltro()" [matMenuTriggerFor]="dateTimeMenu">
              calendar_today
            </mat-icon>
          </span>
        </mat-form-field>
      </div>
      <mat-menu class="date-range-menu" #dateTimeMenu="matMenu">
        <app-modal-date [params]="modalDateParams"></app-modal-date>
      </mat-menu>

      <div class="col-md-3 col-sm-6 col-xs-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'PORTAL.INDICADORES_FINANCEIRO.LABEL.STATUS_FATURA' | translate}}</mat-label>
          <mat-select matInput formControlName="statusFatura" disableOptionCentering>
            <mat-option *ngFor="let status of sttFaturas" [value]="status.id">
              {{status.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'PORTAL.INDICADORES_FINANCEIRO.LABEL.STATUS_VEICULO' | translate}}</mat-label>
          <mat-select matInput formControlName="statusVeiculo" disableOptionCentering>
            <mat-option *ngFor="let status of sttVeiculos" [value]="status.id">
              {{status.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-12 mb-3">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let filtro of filtroIndicadores.filtroIndicadorFinanceiro; let i = index;">
            {{ filtro.grafico }}: {{filtro.title}}
            <mat-icon matChipRemove (click)="removerFiltro(i, 'financeiro')">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
      <div class="col-md-12">
        <button class="mr-3" mat-raised-button color="primary" type="button" (click)="pesquisar()">
          {{ 'PORTAL.BUTTONS.BTN_SEARCH' | translate }}
        </button>
        <button mat-raised-button class="btn-secondary" type="button" (click)="limparFiltros()">
          {{ 'PORTAL.BUTTONS.BTN_LIMPAR' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
