.small-header {
  width: 100%;
  opacity: 0.8;
  z-index: 2000;
  background: white;
  margin-top: 85px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #005b9e;
  color: #005b9e;
  align-items: baseline;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  font-size: 14px !important;
  font-weight: 600 !important;
}

::ng-deep app-small-header {
  .mat-icon {
    margin-right: 5px !important;
    margin-left: -5px !important;
    padding: 0;
    height: 20px;
    width: 20px;
  }
}
