.icon-pointer {
  cursor: pointer;
  width: 30px;
  top: 5px;
  position: relative;
  left: -40px;
}

.box-img {
  border-radius: 5px;
  height: 130px;
  width: 222px;
}

.border-green {
  border-right: 7px #009E00 solid;
}
