<div class="col-md-12 pl-3 pr-3">
  <hr class="hr-text hide-xs" data-content="Manutenção/Sinistro" />
</div>

<form [formGroup]="form" autocomplete="off" id="form-atendimento">
  <!-- Otimização menu -->
  <div class="menu-items hide-md">
    <div class="col-md-12">
      <div class="row pl-0 pr-0 ">
        <ng-container *ngFor="let item of items">
          <button [ngClass]="{'actived': show === item.tag}" [hidden]="!item || getCondition(item.condition)"
            appAccordionToggle (click)="toggleDisplay(item)" type="button" mat-tab class="menu-item col-4">
            <span>
              <mat-icon *ngIf="!!item.icon" svgIcon="{{item.icon}}"></mat-icon>{{item.name | translate}}
            </span>
          </button>
        </ng-container>
        <ng-container *ngFor="let item of items">
          <ng-container *ngFor="let subItem of item.children">
            <button [hidden]="getCondition(subItem.condition)" [ngClass]="{'actived': show === subItem.tag}"
              appAccordionToggle (click)="toggleDisplay(subItem)" type="button" mat-tab class="submenu-item col-4">
              <span>
                <mat-icon *ngIf="!!subItem.icon" svgIcon="{{subItem.icon}}"></mat-icon>{{subItem.name | translate}}
              </span>
            </button>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Resposta -->
  <div class="atendimento-container">
    <div class="menu-atendimento" role="listbox" id="menu-atendimento">
      <div [hidden]="ocultarComboServicos && ocultarComboServicos('p')" class="hide"
        [ngClass]="{'active': show === 'preventiva'}">
        <mat-card>
          <mat-card-header class="hide-xs" matTooltip="{{'PORTAL.MANUTENCAO.TOOLTIP.PREVENTIVA' | translate}}">
            <mat-card-subtitle class="row">
              <mat-icon svgIcon="pfu-preventiva"></mat-icon>
              {{ 'PORTAL.MANUTENCAO.LABEL.PREVENTIVA' | translate }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-form-field appearance="outline" class="selection-list-filter hide-xs">
            <input matInput #preventivaSearch placeholder="{{ 'PORTAL.MANUTENCAO.LABEL.PREVENTIVA' | translate }}">
          </mat-form-field>
          <mat-card-content matTooltip="{{'PORTAL.MANUTENCAO.TOOLTIP.PREVENTIVA' | translate}}"
            matTooltipClass="mat-tooltip-atendimento">
            <mat-selection-list #preventivaField formControlName="preventiva"
              (selectionChange)="changePreventiva(preventivaField)" class="h-100">
              <mat-list-option *ngFor="let preventiva of (preventivas | selectionListSearch:preventivaSearch.value)"
                (click)="checkCombo(preventiva)" [selected]="preventiva.selected" [disabled]="preventiva.disabled"
                [value]="preventiva">
                {{ preventiva ? preventiva.descricaoQuestionario : '' }}
              </mat-list-option>
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div [hidden]="ocultarComboServicos('c')" class="hide" [ngClass]="{'active': show === 'corretiva'}">
        <mat-card>
          <mat-card-header class="hide-xs" matTooltip="{{'PORTAL.MANUTENCAO.TOOLTIP.CORRETIVA' | translate}}">
            <mat-card-subtitle class="row">
              <mat-icon svgIcon="pfu-corretiva"></mat-icon>
              {{ 'PORTAL.MANUTENCAO.LABEL.CORRETIVA' | translate }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-form-field appearance="outline" class="selection-list-filter hide-xs">
            <input matInput #corretivaSearch placeholder="{{ 'PORTAL.MANUTENCAO.LABEL.CORRETIVA' | translate }}">
          </mat-form-field>
          <mat-card-content matTooltip="{{'PORTAL.MANUTENCAO.TOOLTIP.CORRETIVA' | translate}}"
            matTooltipClass="mat-tooltip-atendimento">
            <mat-selection-list #corretivaField formControlName="corretiva"
              (selectionChange)="changeCorretiva(corretivaField)" class="h-100">
              <mat-list-option *ngFor="let corretiva of (corretivas | selectionListSearch:corretivaSearch.value)"
                (click)="checkCombo(corretiva)" [selected]="corretiva.selected" [disabled]="corretiva.disabled"
                [value]="corretiva">
                {{ corretiva ? corretiva.descricaoQuestionario : '' }}
              </mat-list-option>
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div [hidden]="!isAcessorio " class="hide" [ngClass]="{'active': show === 'acessorio'}">
        <mat-card>
          <mat-card-header class="hide-xs">
            <mat-card-subtitle class="row">
              <mat-icon svgIcon="pfu-acessorios"></mat-icon>
              {{ 'PORTAL.MANUTENCAO.LABEL.ACESSORIO' | translate }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-form-field appearance="outline" class="selection-list-filter hide-xs">
            <input matInput #acessorioSearch placeholder="{{ 'PORTAL.MANUTENCAO.LABEL.ACESSORIO' | translate }}">
          </mat-form-field>
          <mat-card-content>
            <mat-selection-list #acessorioField formControlName="acessorio" class="h-100">
              <mat-list-option *ngFor="let acessorio of (acessorios | selectionListSearch:acessorioSearch.value)"
                (click)="checkCombo(acessorio)" [selected]="acessorio.selected" [disabled]="acessorio.disabled"
                [value]="acessorio">
                {{ acessorio ? acessorio.descricao : '' }}
              </mat-list-option>
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
      </div>

      <div [hidden]="ocultarComboServicos('s')" class="hide" [ngClass]="{'active': show === 'sinistro'}">
        <mat-card>
          <mat-card-header class="hide-xs" matTooltip="{{'PORTAL.MANUTENCAO.TOOLTIP.SINISTRO' | translate}}">
            <mat-card-subtitle class="row">
              <mat-icon svgIcon="pfu-sinistro"></mat-icon>
              {{ 'PORTAL.MANUTENCAO.LABEL.SINISTRO' | translate }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-form-field appearance="outline" class="selection-list-filter hide-xs">
            <input matInput #sinistroSearch placeholder="{{ 'PORTAL.MANUTENCAO.LABEL.SINISTRO' | translate }}">
          </mat-form-field>
          <mat-card-content matTooltip="{{'PORTAL.MANUTENCAO.TOOLTIP.SINISTRO' | translate}}"
            matTooltipClass="mat-tooltip-atendimento">
            <mat-selection-list #sinistroField formControlName="sinistro"
              (selectionChange)="changeSinistro(sinistroField)" class="h-100">
              <mat-list-option *ngFor="let sinistro of (sinistros | selectionListSearch:sinistroSearch.value)"
                (click)="checkCombo(sinistro)" [selected]="sinistro.selected" [disabled]="sinistro.disabled"
                [value]="sinistro">
                {{ sinistro ? sinistro.descricaoQuestionario : '' }}
              </mat-list-option>
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div [hidden]="!showExecucao || ocultarComboServicos('s')" class="hide"
        [ngClass]="{'active': show === 'execucao'}">
        <mat-card>
          <mat-card-header class="hide-xs">
            <mat-card-subtitle class="row">
              <mat-icon svgIcon="pfu-sinistro"></mat-icon>
              {{ 'PORTAL.MANUTENCAO.LABEL.EXECUCAO' | translate }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-selection-list #execucaoField formControlName="execucao" (selectionChange)="changeExecucao($event)"
              class="h-100">
              <mat-list-option *ngFor="let execucao of execucoes" [selected]="execucao.selected"
                [disabled]="execucao.disabled" [value]="execucao">
                {{ execucao ? execucao.descricaoQuestionario : '' }}
              </mat-list-option>
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- Inputs -->
  <div class="col-md-12 pl-3 pr-3">
    <div *ngIf="form.get('sinistroAnteriorVinculado').value === true">
      <app-generic-table #sinistrosAnterioresTable [(inputData)]="sinistrosSemAgendamentoParada"
        [columns]="getColunasTabela()" [hidePaginator]="true">
      </app-generic-table>
    </div>

    <div [hidden]="!comDocumentacaoSinistro">

      <div class=" pb-3">
        <hr class="hr-text hide-xs" data-content="Informações" />
      </div>

      <mat-expansion-panel [expanded]='true'>
        <mat-expansion-panel-header class="hide-md">
          <mat-panel-title>
            {{'PORTAL.MANUTENCAO.LABEL.INFORMACOES' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PORTAL.MANUTENCAO.LABEL.CEP_SINISTRO' | translate}}</mat-label>
                  <input matInput type="text" mask="00000-000" formControlName="cepSinistro" (keyup)="changeCEP($event)"
                    [required]="comDocumentacaoSinistro" />
                </mat-form-field>
              </div>
              <div class="col-md-8">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PORTAL.MANUTENCAO.LABEL.LOGRADOURO_SINISTRO' | translate}}</mat-label>
                  <input matInput type="text" formControlName="logradouroSinistro" [required]="comDocumentacaoSinistro"
                    maxlength="150" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PORTAL.MANUTENCAO.LABEL.BAIRRO_SINISTRO' | translate}}</mat-label>
                  <input matInput type="text" formControlName="bairroSinistro" maxlength="50"
                    [required]="comDocumentacaoSinistro" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PORTAL.MANUTENCAO.LABEL.CIDADE_SINISTRO' | translate}}</mat-label>
                  <input matInput type="text" formControlName="cidadeSinistro" [required]="comDocumentacaoSinistro" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PORTAL.MANUTENCAO.LABEL.UF_SINISTRO' | translate}}</mat-label>
                  <input matInput type="text" formControlName="ufSinistro" [required]="comDocumentacaoSinistro" />
                </mat-form-field>
              </div>
              <div class="col-md-8">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PORTAL.MANUTENCAO.LABEL.NOME_TERCEIRO' | translate}}</mat-label>
                  <input matInput type="text" formControlName="nomeTerceiro" maxlength="30" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PORTAL.MANUTENCAO.LABEL.CELULAR_TERCEIRO' | translate}}</mat-label>
                  <input matInput type="text" mask="(00) 00000-0000" formControlName="celularTerceiro" />
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PORTAL.MANUTENCAO.LABEL.RELATO_OCORRIDO' | translate}}</mat-label>
                  <textarea matInput rows="4" cols="30" formControlName="relatoOcorrido" maxlength="500"
                    style="resize: none;">
              </textarea>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-8">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PORTAL.MANUTENCAO.LABEL.TIPO_SINISTRO' | translate }}</mat-label>
                  <mat-select formControlName="tipoSinistro" [required]="comDocumentacaoSinistro">
                    <mat-option *ngFor="let tipoSinistro of tiposSinistro" [value]="tipoSinistro.tipoId">
                      {{ tipoSinistro ? tipoSinistro.descricao : '' }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PORTAL.MANUTENCAO.LABEL.NUMERO_BO' | translate}}</mat-label>
                  <input matInput type="text" formControlName="numeroBoletimOcorrencia" maxlength="20" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PORTAL.MANUTENCAO.LABEL.DATA_SINISTRO' | translate}}</mat-label>
                  <input matInput formControlName="dataSinistro" [matDatepicker]="dataSinistro" [max]="now" readonly
                    (dateChange)="changeDataSinistro($event)" [required]="comDocumentacaoSinistro">
                  <mat-datepicker-toggle matSuffix [for]="dataSinistro">
                  </mat-datepicker-toggle>
                  <mat-datepicker #dataSinistro disabled="false">
                  </mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PORTAL.MANUTENCAO.LABEL.HORA_SINISTRO' | translate}}</mat-label>
                  <input matInput type="text" formControlName="horaSinistro" mask="00:00"
                    (keyup)="changeHoraSinistro($event)" (blur)="changeHoraSinistro($event)"
                    [required]="comDocumentacaoSinistro" />
                </mat-form-field>
              </div>

              <div class="col-md-6 pt-1">
                <mat-slide-toggle class="primary w-100 mb-3" formControlName="hasVitima">
                  {{'PORTAL.MANUTENCAO.LABEL.VITIMA' | translate}}</mat-slide-toggle>
                <mat-slide-toggle class="primary w-100 mb-3" formControlName="hasVitimaFatal">
                  {{'PORTAL.MANUTENCAO.LABEL.VITIMA_FATAL' | translate}}</mat-slide-toggle>
                <!-- <mat-slide-toggle class="primary w-100 mb-3" formControlName="hasEnvolvimentoTerceiros">
                  {{'PORTAL.MANUTENCAO.LABEL.ENVOLVIMENTO_TERCEIROS' | translate}}</mat-slide-toggle> -->
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel><br>

      <hr class="hr-text hide-xs" data-content="Adicionar Imagem/Documento" />
      <mat-expansion-panel [expanded]='true'>
        <mat-expansion-panel-header class="hide-md">
          <mat-panel-title>
            Adicionar Imagem/Documento
          </mat-panel-title>
          <hr class="hr-text hide-xs" data-content="Adicionar Imagem/Documento" />
        </mat-expansion-panel-header>
        <form [formGroup]="formArquivos" class="pt-3 mb-4 ml-3">
          <div class="row">
            <mat-form-field ngbAutofocus appearance="outline" class="col-md-3 col-xl-6 pl-0">
              <mat-label>{{'PORTAL.ATENDIMENTO.LABELS.LBL_TIPO_ARQUIVO' | translate}}</mat-label>
              <mat-select formControlName="tipoArquivo" required>
                <mat-option *ngFor="let tipoArquivo of tipoArquivos" [value]="tipoArquivo">
                  {{tipoArquivo.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="col-md-3 col-xl-6 pl-0 pt-1">
              <input #fileInput style="display: none;" type="file" name="files" accept="application/pdf, image/*"
                (change)="onFileChange($event)">
              <button class="btn-form" type="button" mat-raised-button (click)="fileInput.click()">
                <mat-icon svgIcon="pfu-upload" class="icone-upload"></mat-icon>
              </button>
              <button color="primary" class="w-200 ml-3" mat-raised-button (click)="adicionarArquivo()">
                {{'PORTAL.BUTTONS.BTN_ADD' | translate}}
              </button>
            </div>

            <div [hidden]="!getArquivos()" class="col-12 pl-0">
              <table class="table-bordered table-hover table-sm mt-2 text-center col-12">
                <thead>
                  <tr>
                    <th scope="col" class="table-header">{{'PORTAL.MANUTENCAO.LABEL.DESCRICAO_ARQUIVO' | translate}}
                    </th>
                    <th scope="col" class="table-header">{{'PORTAL.MANUTENCAO.LABEL.ACAO' | translate}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of getArquivos()">
                    <td>{{item.descricao}}</td>
                    <td>
                      <mat-icon svgIcon="pfu-delete" (click)="removerArquivo(item)" matTooltip="Remover arquivo">
                      </mat-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </div>
  </div>
  <div class="pl-3 pr-3">
    <hr class="hr-text hide-xs" data-content="Complementos dos Serviços a Executar" />
    <div class="pt-3">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'PORTAL.MANUTENCAO.LABEL.COMPLEMENTO_SERVICOS' | translate }}</mat-label>
        <textarea matInput rows="4" cols="30" formControlName="complementoServicos" maxlength="400"
          style="resize: none;" [required]="isComplementoServicosObrigatorio"></textarea>
      </mat-form-field>
    </div>
  </div>
</form>
