<form [formGroup]="formFiltro" class="row pr-0 pl-0">
  <app-filtro-agrupadores class="col-12" [form]="formFiltro"></app-filtro-agrupadores>
  <!-- <div class="col-lg-3 col-xs-6 pt-2">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'PORTAL.AGENDAR_ENTREGA_DEVOLUCAO.LABEL.CLIENTE' | translate }}</mat-label>
      <mat-select matInput formControlName="clientes" multiple required (openedChange)="getVeiculos($event)">
        <mat-select-trigger>
          {{formFiltro.get('clientes').value && formFiltro.get('clientes').value.length > 0 ? formFiltro.get('clientes').value[0].nomeFantasia : ''}}
          <span *ngIf="formFiltro.get('clientes').value?.length > 1">
            (+{{formFiltro.get('clientes').value.length - 1}}
            {{formFiltro.get('clientes').value?.length === 2 ? 'outro' : 'outros'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let cliente of cnpjs" [value]="cliente"
          (onSelectionChange)="verificarClientesPlacas($event, cliente)" (click)="markAll(cliente, 'clientes', cnpjs)">
          {{cliente.nomeFantasia}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <!-- <div class="col-lg-3 col-xs-6 pt-2">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'PORTAL.MANUTENCOES.LABEL.PLACA' | translate }}</mat-label>
      <input matInput type="text" formControlName="veiculoId" class="uppercase" [matAutocomplete]="auto"
        (keyup)="filtrarPlaca()" maxlength="8" />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
        <ng-container>
          <mat-option *ngFor="let item of placas.filteredData" [value]="item">
            {{item.placa}} - {{item.modelo}}
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field>
  </div> -->
  <div class="col-lg-2 col-xs-6 pt-2">
    <mat-form-field appearance="outline">
      <mat-label>{{'PORTAL.ATENDIMENTO.LABELS.LBL_CODIGO_ATENDIMENTO' | translate}}</mat-label>
      <input #campoPesquisar matInput type="text" formControlName="codigoAtendimento" maxlength="100" />
    </mat-form-field>
  </div>
  <div class="col-lg-3 col-xs-6 pt-2">
    <mat-form-field appearance="outline">
      <mat-label>Período</mat-label>
      <input matInput formControlName="periodo" autocomplete="off" readonly required />
      <span matSuffix mat-icon-button>
        <mat-icon class="material-icons pointer" (click)="abrirFiltro()" [matMenuTriggerFor]="dateTimeMenu">
          calendar_today
        </mat-icon>
      </span>
    </mat-form-field>
  </div>
  <mat-menu class="date-range-menu" #dateTimeMenu="matMenu">
    <app-modal-date [params]="modalDateParams"></app-modal-date>
  </mat-menu>
  <!-- <div class="col-lg-3 col-xs-6 pt-2">
    <mat-form-field appearance="outline">
      <mat-label>{{'PORTAL.INDICADORES_ATENDIMENTOS.LABEL.REGIONAL' | translate}}</mat-label>
      <mat-select matInput formControlName="regionais" disableOptionCentering multiple>
        <mat-select-trigger>
          {{formFiltro.get('regionais').value && formFiltro.get('regionais').value.length > 0 ? formFiltro.get('regionais').value[0].descricao : ''}}
          <span *ngIf="formFiltro.get('regionais').value?.length > 1">
            (+{{formFiltro.get('regionais').value.length - 1}}
            {{formFiltro.get('regionais').value?.length === 2 ? 'outro' : 'outros'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let regional of regionais" [value]="regional"
          (click)="markAll(regional, 'regionais', regionais)">
          {{regional.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg-3 col-xs-6 pt-2">
    <mat-form-field appearance="outline">
      <mat-label>{{'PORTAL.INDICADORES_ATENDIMENTOS.LABEL.CENTRO_CUSTO' | translate}}</mat-label>
      <mat-select matInput formControlName="centrosCustos" disableOptionCentering multiple>
        <mat-select-trigger>
          {{formFiltro.get('centrosCustos').value && formFiltro.get('centrosCustos').value.length > 0 ? formFiltro.get('centrosCustos').value[0].descricao : ''}}
          <span *ngIf="formFiltro.get('centrosCustos').value?.length > 1">
            (+{{formFiltro.get('centrosCustos').value.length - 1}}
            {{formFiltro.get('centrosCustos').value?.length === 2 ? 'outro' : 'outros'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let centroCusto of centrosCustos" [value]="centroCusto"
          (click)="markAll(centroCusto, 'centrosCustos', centrosCustos)">
          {{centroCusto.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <div class="col-lg-2 col-xs-6 pt-2">
    <mat-form-field appearance="outline">
      <mat-label>{{'PORTAL.USUARIO.LBL_STATUS' | translate}}</mat-label>
      <mat-select matInput formControlName="status">
        <mat-option *ngFor="let item of status" [value]="item.id">
          {{item.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg-3 col-xs-6 pt-2">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'PORTAL.NOTIFICACAO_MULTA.FORM.LABEL.TIPO' | translate }}</mat-label>
      <mat-select matInput formControlName="tipo" disableOptionCentering required>
        <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
          {{ tipo.descricao }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg-3  pt-2 btn-group-filter">
    <button mat-raised-button class="btn btn-primary" type="button" (click)="pesquisar()">
      {{'PORTAL.BUTTONS.BTN_SEARCH' | translate}}
    </button>
    <button (click)="clearSearch()" mat-raised-button class="btn btn-secondary" type="button">
      {{'PORTAL.BUTTONS.BTN_CLEAN' | translate}}
    </button>
  </div>
</form>
