<div class="container-fluid page-body">
  <div class="pt-2 center-vertical">
    <form [formGroup]="filtro" (ngSubmit)="pesquisar()" class="row pr-0 pl-0">
      <app-filtro-agrupadores class="col-12" [form]="filtro"></app-filtro-agrupadores>
      <!-- <div class="col-lg-3 col-xs-6 pt-2">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'PORTAL.AGENDAR_ENTREGA_DEVOLUCAO.LABEL.CLIENTE' | translate }}</mat-label>
          <mat-select matInput formControlName="clientes" multiple required (openedChange)="getVeiculos($event)">
            <mat-select-trigger>
              {{filtro.get('clientes').value && filtro.get('clientes').value.length > 0 ? filtro.get('clientes').value[0].nomeFantasia : ''}}
              <span *ngIf="filtro.get('clientes').value?.length > 1">
                (+{{filtro.get('clientes').value.length - 1}}
                {{filtro.get('clientes').value?.length === 2 ? 'outro' : 'outros'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let cliente of clientes" [value]="cliente"
              (onSelectionChange)="verificarClientesPlacas($event, cliente)"
              (click)="markAll(cliente, 'clientes', clientes)">
              {{cliente.nomeFantasia}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-xs-6 pt-2">
        <mat-form-field appearance="outline">
          <mat-label>{{'PORTAL.VEICULO_RESERVA.LABELS.PLACA' | translate}}</mat-label>
          <input matInput type="text" formControlName="placa" class="uppercase" [matAutocomplete]="autocompletePlaca"
            (keyup)="filtrarPlaca()" maxlength="8" />
          <mat-autocomplete #autocompletePlaca="matAutocomplete" [displayWith]="displayPlaca" style="min-width: 250px;">
            <ng-container>
              <mat-option *ngFor="let item of placas.filteredPlacas" [value]="item">
                {{item.placa}} - {{item.modelo}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
      </div> -->
      <!-- <div class="col-lg-3 col-xs-6 pt-2">
        <mat-form-field appearance="outline">
          <mat-label>{{'PORTAL.AGENDAR_ENTREGA_DEVOLUCAO.LABEL.REGIONAL' | translate}}</mat-label>
          <mat-select matInput formControlName="regionais" multiple>
            <mat-select-trigger>
              {{filtro.get('regionais').value && filtro.get('regionais').value.length > 0 ? filtro.get('regionais').value[0].descricao : ''}}
              <span *ngIf="filtro.get('regionais').value?.length > 1">
                (+{{filtro.get('regionais').value.length - 1}}
                {{filtro.get('regionais').value?.length === 2 ? 'outro' : 'outros'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let item of regionais" [value]="item" (click)="markAll(item, 'regionais', regionais)">
              {{item.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-xs-6 pt-2">
        <mat-form-field appearance="outline">
          <mat-label>{{'PORTAL.AGENDAR_ENTREGA_DEVOLUCAO.LABEL.CENTRO_CUSTO' | translate}}</mat-label>
          <mat-select matInput formControlName="centrosCustos" multiple>
            <mat-select-trigger>
              {{filtro.get('centrosCustos').value && filtro.get('centrosCustos').value.length > 0 ? filtro.get('centrosCustos').value[0].descricao : ''}}
              <span *ngIf="filtro.get('centrosCustos').value?.length > 1">
                (+{{filtro.get('centrosCustos').value.length - 1}}
                {{filtro.get('centrosCustos').value?.length === 2 ? 'outro' : 'outros'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let item of centrosCustos" [value]="item"
              (click)="markAll(item, 'centrosCustos', centrosCustos)">
              {{item.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <div class="col-lg-3 col-xs-6 pt-2">
        <mat-form-field appearance="outline">
          <mat-label>{{'PORTAL.VEICULO_RESERVA.LABELS.STATUS' | translate}}</mat-label>
          <mat-select matInput formControlName="status">
            <mat-option *ngFor="let item of status" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-xs-6 pt-2">
        <mat-form-field appearance="outline">
          <mat-label>{{'PORTAL.VEICULO_RESERVA.LABELS.UF_SOLICITACAO' | translate}}</mat-label>
          <mat-select matInput formControlName="ufSolicitacao" (selectionChange)="enableInputCidade()"
            disableOptionCentering>
            <mat-option *ngFor="let uf of ufs" [value]="uf">
              {{uf.estado}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-xs-6 pt-2">
        <mat-form-field appearance="outline">
          <mat-label>{{'PORTAL.VEICULO_RESERVA.LABELS.CIDADE_SOLICITACAO' | translate}}</mat-label>
          <!--<input name="cidadeSolicitacao" type="search" autocomplete="off" style="display: none" />--> <input
            matInput name="cidadeSolicitacao" type="search" formControlName="cidadeSolicitacao"
            [matAutocomplete]="autocompleteCidade" autocomplete="off" />
          <mat-autocomplete #autocompleteCidade="matAutocomplete" autoActiveFirstOption="false" [displayWith]="display">
            <ng-container>
              <mat-option *ngFor="let item of filteredCidades" [value]="item">
                {{item.municipio}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-lg-3 pt-2 btn-group-filter">
        <button mat-raised-button class="btn btn-primary" type="submit" [disabled]="!this.getPermissao().pesquisar">
          {{'PORTAL.BUTTONS.BTN_SEARCH' | translate}}
        </button>
        <button (click)="clearSearch()" mat-raised-button class="btn btn-secondary" type="button"
          [disabled]="!this.getPermissao().pesquisar">
          {{'PORTAL.BUTTONS.BTN_CLEAN' | translate}}
        </button>
      </div>
    </form>
    <hr>
    <div *ngIf="showTable">
      <div class="text-left">
        <button class="btn-export" *ngIf="showExport" (click)="getAllVeiculos()" type="button">
          <mat-icon svgIcon="pfu-excel-icon" class="material-icons"></mat-icon>
          <span class="ml-2">{{'PORTAL.BUTTONS.BTN_EXPORT' | translate}}</span>
        </button>
      </div>
      <app-generic-table [(inputData)]="veiculosReserva" [inputDataSubject]="dataInputSubj"
        [columns]="getColunasTabela()" [infoMessage]="mensagemInformacao" (nextPage)="pesquisar($event)"
        [totalRows]="totalRows">
      </app-generic-table>
    </div>
  </div>
</div>
