<app-modal-generic>
  <div class="modal-padding">
    <header class="header">
      <span class="textWhiteHeader">{{'PORTAL.GERENCIAR_FROTA.TITLES.DETALHES' | translate}}</span>
      <a class="circle-close mr-3" (click)="closeModal()">
        <mat-icon class="pointer">close</mat-icon>
      </a>
    </header>
    <div class="container mt-3 mb-3">
      <div class="ml-4 text-gray">
        <div *ngFor="let column of getTitulos()" style="line-height: 2;">
          <span class="text-bold">{{column.columnDef}}: </span>
          <span style="font-size: 15px;">{{showValue(dadosFrota[column.description], column)}}</span>
        </div>
      </div>
    </div>
  </div>
</app-modal-generic>
